
  .dival{
    background-color:white ;
  }

    .maint{
      background-color: white;
      font-weight: 100;
    }

  .header{
     padding: 10px 20px;
    background-color: rgb(34, 139, 34);
    
  }
  .bt1{
    color:rgb(34, 139, 34);
    background-color: white;
    font-family: sans-serif;
    border: none;
    /* left right props*/
  }
  .bt2{
    color:rgb(34, 139, 34);
    background-color: white;
    font-family: sans-serif;
    border: none;
    /* left right props*/
  }
  .bt3{
    color:rgb(34, 139, 34);
    background-color: white;
    font-family: sans-serif;
    /* left right props*/
    border: none;
  }
  .bt4{
    color:rgb(34, 139, 34);
    background-color: white;
    font-family: sans-serif;
    /* left right props*/
    border: none;
  }

  .loginbut{
    color: black;
    background-color: rgb(240, 255, 255);
  }

  button.hover{
    cursor: pointer;

  }


