.div1{
    font-family: sans-serif;
    text-align: center;
}
.div2{
    font-family: sans-serif;
    text-align: center;
}

button{
    color:white;
    background-color: rgb(34, 139, 34);
}
button.hover{
    cursor: pointer;
}
button.active{
    background-color: white;
    color: rgb(34, 139, 34);
}
.b1{
    color:white;
    /* left and right props   */
}
.b2{
    color:white;
    /* left and right props   */
}
.b3{
    color:white;
    /* left and right props   */
}
.b4{
    color:white;
    /* left and right props   */
}
.b5{
    color:white;
    /* left and right props   */
}
.b6{
    color:white;
    /* left and right props   */
}
.b7{
    color:white;
    /* left and right props   */
}

.b9{
    color:white;
    /* left and right props   */
}
.b10{
    color:white;
    /* left and right props   */
}