

.loginBtn {
  background: #3b82f6;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.pricing {
  text-align: center;
  margin-top: 50px;
}

.planSelector {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.planSelector button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: darkgreen;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}





.singleCard {
  margin: 40px auto;
  padding: 30px;
  background-color: darkgreen;
  border-radius: 15px;
  width: 300px;
  transition: 0.3s;
}

.singleCard:hover {
  transform: scale(1.05);
}

.subscribeBtn {
  margin-top: 20px;
  background: #22c55e;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}